<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.4" targetFramework="net48" />
  <package id="AutoMapper" version="9.0.0" targetFramework="net48" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net48" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net48" />
  <package id="FluentValidation" version="8.6.1" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net48" />
  <package id="sharpcompress" version="0.22.0" targetFramework="net48" />
  <package id="Splat" version="1.6.2" targetFramework="net48" />
  <package id="squirrel.windows" version="1.9.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net48" />
</packages>